@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-col-full {
  @apply flex flex-col flex-1;
}

.flex-col-screen {
  @apply flex flex-col h-screen;
}

.flex-center {
  @apply flex justify-center items-center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s 1.2s ease-in-out forwards;
}

.delay-2s {
  animation-delay: 2s !important;
}
